<h1>Sign in</h1>
<form action="/user/create-session" method="post">


    <input type="email" name="email" placeholder="Enter your email" required>
 

    <input type="password" name="password" placeholder="Password" requiured>

    

   <button type="submit">Sign In</button>
</form>